<p><strong>Comment List</strong></p>


  <% if @comments.any? %>
    <%@comments.each do|comment| %>
    <li>
      <a href="/comments/<%=comment.id %>"><%=comment.name %></a> - <%=comment.created_at%>
    </li>
    <% end %>
  <% else %>
    <p>No Comment Now</p>
  <% end %>

<!--<p><a href='/comments/new'>Why Not Have A Comment Now</a></p>-->
<input class="button" type="button" value="Why Not Have A Comment Now" onclick="location.href='/comments/new'">