<!doctype html>
<html>

<head>
  <title><%= @title || "Student Information System" %></title>
  <link rel="stylesheet" type="text/css" href="/views/style.scss" >
</head>

<body>

<img class="logo" src="./images/logo.jpg" alt="logo" align="left">
<h1 align ="right"> Student <br/> Information <br/> System </h1>

<%= erb :nav%>

<%= yield %>

</body>

</html>