<nav>

  <ul>
    <li><a href='/'>Home</a> </li>
    <li><a href='/about'>About</a> </li>
    <li><a href='/contact'>Contact</a> </li>
    <li><a href='/students'>Students</a> </li>
    <li><a href='/comments'>Comments</a> </li>
    <li><a href='/video'>Video</a> </li>

    <% if @in = session[:admin] %>
      <li><a href='/logout'>Logout</a> </li>
    <% else %>
      <li><a href='/login'>Login</a> </li>
    <% end %>

  </ul>

</nav>